# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Production build directories
dist/
dist-ssr/

# TypeScript compiler output
*.tsbuildinfo
lib/
out/

# Local development
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Styled-components specific (if any specific files or patterns to ignore)

# Environment variables and configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite specific
.vite/
vite.config.ts (if you have environment-specific configs you wish to ignore)

# Build-related
build/
coverage/

# Optional: Ignore specific files often used in React projects but not relevant to git
*.jsx.snap
*.tsx.snap
jest.config.js
